name: release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Prepare bundled assets
        run: ./scripts/prepare-bundled-mcp-server.sh
        env:
          GH_TOKEN: ${{ github.token }}

      - id: determine_release_tag
        env:
          GH_PAGER: cat
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          set -e

          if [[ ${GITHUB_REF} = refs/tags/* ]]; then
            tag="${GITHUB_REF#refs/tags/}"
          else
            tag="$(git describe --tags --abbrev=0)"
          fi

          is_draft=$(gh release view "$tag" --json isDraft -q '.isDraft' || echo "false")
          if [[ ${is_draft} != "true" ]]; then
            echo "Release $tag is not a draft or does not exist. Exiting."
            exit 1
          fi

          echo "tag=$tag" >> "$GITHUB_OUTPUT"

      - uses: cli/gh-extension-precompile@9e2237c30f869ad3bcaed6a4be2cd43564dd421b # v2.1.0
        with:
          generate_attestations: true
          go_version_file: go.mod
          release_tag: ${{ steps.determine_release_tag.outputs.tag }}

      - name: Publish draft release if exists
        env:
          RELEASE_TAG: ${{ steps.determine_release_tag.outputs.tag }}
          GH_PAGER: cat
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          set -e

          is_draft=$(gh release view "$RELEASE_TAG" --json isDraft -q '.isDraft' || echo "false")
          if [[ ${is_draft} != "true" ]]; then
            echo "No draft release found"
          else
            gh release edit "$RELEASE_TAG" --draft=false
          fi
